
:root{
    --colorText: darkblue;
}

body{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    color: var(--colorText);
    font-weight: bold;
    text-decoration: underline;
}

#container{
    background-color: #1d2d50;
    padding: 20px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.25);
}
button{

    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    font-size: 1.3em;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    border: none;
    outline: none;
    width: 40px;
    position: relative;
    left: 55px;
}
button:hover{
    background-color: rgb(70, 53, 226)!important;
}

button:active{
    transform: translateY(5px);
}
#btn1{
    background-color: forestgreen;

}
#btn2{
    background-color: crimson;

}
.numero{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 30px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    
    
}

footer{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    color: var(--colorText);
    font-weight: bold;
}